.content-1 {
	text-align: center;
	padding: 16px 2px;
	margin: auto 2px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 8px;
	grid-gap: 0px;
	justify-content: center;
	margin: auto 200px;
	padding: 70px;
}

.content-1 img {
	width: 100%;
}

#photography {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width: 650px;
	margin-right: 8px;
}
#photography:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#foodie {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#foodie:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.foodie {
	width: 750px;
	height: 400px;
	object-fit: cover;
}

.content-1 {
	align-items: center;
}

.content-1 {
	
}