#banner {
	height: 70vh;
	background-image: url("../images/banner-ld.jpg");
	background-size: cover;
	background-position: top;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;

    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#banner:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);

}
  .btn-beige {
  color: white;
	background-color: #C7BAA7;
	padding: 8px 16px;
	border-radius: 10px;
	font-weight: bolder;
	transition: 1s;
}
.btn-beige:hover {
	background-color: white;
	color: black;
	transition: 1s;
	text-decoration: none;
  }
#banner-content h2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
