.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
	

}

.menu li {
	display: inline;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

.header {
	text-align: center;

	}
